<div class="pokemon">
  <ul>
    <% @pokemons.each_with_index do |pokemon, i| %>
      <li>
        <%= i + 1 %> - <%= pokemon.name %> - points : <%= pokemon.ranking %> - (<%= link_to "fiche pokemon", pokemon_path(pokemon.id), method: :get %>)
      </li>
    <% end %>
  </ul>
</div>
