<h1>Pokemons</h1>


<h4>tous les pokemons</h4>

<div id="pokemons-container">
  <%= render "pokemons/pokemon", pokemons: @pokemons %>
</div>

<h4>les pokemons battle</h4>


<div class="container">
  <div class="row justify-content-center">
    <ul>
      <% @pokemons_to_rate.each do |pokemon| %>
        <div class="card rounded shadow m-5 col-4">
              <li id="<%= pokemon.id %>">
                <%= link_to pokemon_path(pokemon), method: :put, remote: true  do %>
                  <%#= cl_image_tag pokemon.photo.key, height: 450, width: 450, crop: :fill  %>
                  <%= pokemon.name  %>
                <% end %>
              </li>
          </div>
      <% end %>
    </ul>
  </div>
</div>
