<h1>Pokemons</h1>


<h4>tous les pokemons</h4>

<div id="pokemons-container">
  <%= render "pokemons/pokemon", pokemons: @pokemons %>
</div>

<h4>les pokemons battle</h4>


<div class="container">
  <div class="row justify-content-center">
    <% @pokemons_to_rate.each do |pokemon| %>
      <div class="m-3-lg col-12 col-lg-4 " id="<%#= pokemon.id %>" >
          <%= link_to pokemon_path(pokemon), method: :put, remote: true  do %>
              <div class = "rounded border shadow-lg bg-white  text-center">
                <%= cl_image_tag pokemon.photos[1].key, height: 350, width: 350, class: "p-2 img-responsive"%>
              </div>
              <div class = "text-center p-3 pokemon-title <%#= pokemon.types.to_a.first %>"  >
                <%= pokemon.name.capitalize  %>
              </div>
          <% end %>
      </div>
    <% end %>
  </div>
</div>
