<h1>Pokemons</h1>


<h4>tous les pokemons</h4>

<div id="pokemons-container">
  <%= render "pokemons/pokemon", pokemons: @pokemons %>
</div>

<h4>les pokemons battle</h4>

<ul>
  <% @pokemons_to_rate.each do |pokemon| %>
    <li id="<%= pokemon.id %>">
      <%= link_to pokemon_path(pokemon), method: :put, remote: true  do %>
      <%= pokemon.name %>
      <% end %>
    </li>
  <% end %>
</ul>
